<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravar Informações</title>
</head>
<body>
    <form action="gravar" method="POST">
    <p>Informe seu nome: </p>
    <input type="text" name="nome" id="nome"/>
    <br>
    <p>Informe seu e-mail: </p>
    <input type="text" name="email" id="email"/>
    <p>Informe o seu endereço: </p>
    <input type="text" name="endereco" id="endereco"/>
    <br>
    <br>
    <input type="submit" name="Enviar"/>
    </form>
</body>
</html>